@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(8, 101, 141);
  width: 100%;
}
.headerbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerbar ul li {
  margin: 0px auto;
}

.headerbar2 li {
  margin: 0 auto;
}
.headerbar2 li span {
  position: relative;
  top: -20px;
  font-size: 19px;
  font-weight: 600;
  color: white;
  margin: 0 auto;
}
.headerbar2 li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.headerbar3 li:first-child a {
  margin: 15px 15px;
}
.headerbar3 li:first-child span {
  position: relative;
  top: -20px;
  font-size: 20px;
  color: white;
}
.headerbar3 li:first-child:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.headerbar3 li:nth-child(2) {
  font-size: 20px;
  padding: 12px;
}
.headerbar3 li:nth-child(2) a {
  text-decoration: none;
  color: white;
}
.headerbar3 li:nth-child(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.headerbar3 li:last-child {
  font-size: 20px;
  padding: 12px;
  color: white;
}
.headerbar3 li:last-child a {
  text-decoration: none;
  color: white;
}
.headerbar3 li:last-child:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search ul li:first-child {
  height: 100px;
  margin: 30px 5px;
}
.search ul li:first-child img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.search ul li:first-child img:last-child {
  display: none;
}
.search ul li:nth-child(2) input {
  width: 400px;
  height: 40px;
  margin: 40px 10px;
}
.search ul li:last-child button {
  width: 55px;
  height: 45px;
  margin: 40px 5px;
}
.search ul li:last-child button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgb(13, 118, 163);
  color: white;
  border: none;
}
.search ul li:last-child button:last-child {
  display: none;
}

@media (min-width: 530px) and (max-width: 850px) {
  .headerbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(8, 101, 141);
    width: 100%;
  }
  .headerbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .headerbar ul li {
    margin: 0px auto;
  }
  .headerbar ul li img {
    width: 40px;
    height: 40px;
  }
  .headerbar2 li {
    margin: 0 auto;
  }
  .headerbar2 li span {
    position: relative;
    top: -20px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin: 0 auto;
  }
  .headerbar2 li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:first-child a {
    margin: 15px 15px;
  }
  .headerbar3 li:first-child span {
    position: relative;
    top: -20px;
    font-size: 15px;
    color: white;
  }
  .headerbar3 li:first-child:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:nth-child(2) {
    font-size: 15px;
    padding: 7px;
  }
  .headerbar3 li:nth-child(2) a {
    text-decoration: none;
    color: white;
  }
  .headerbar3 li:nth-child(2):hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:last-child {
    font-size: 15px;
    padding: 7px;
    color: white;
  }
  .headerbar3 li:last-child a {
    text-decoration: none;
    color: white;
  }
  .headerbar3 li:last-child:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .search ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search ul li:first-child {
    height: 100px;
    margin: 30px 5px;
  }
  .search ul li:first-child img {
    width: 180px;
  }
  .search ul li:first-child img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .search ul li:nth-child(2) input {
    width: 250px;
    height: 40px;
    margin: 40px 10px;
  }
  .search ul li:last-child button {
    width: 55px;
    height: 45px;
    margin: 40px 5px;
  }
  .search ul li:last-child button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: rgb(13, 118, 163);
    color: white;
    border: none;
  }
}
@media (min-width: 400px) and (max-width: 530px) {
  .headerbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(8, 101, 141);
    width: 100%;
  }
  .headerbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .headerbar ul li {
    margin: 0px auto;
  }
  .headerbar ul li img {
    width: 40px;
    height: 40px;
  }
  .headerbar2 li {
    margin: 0 auto;
  }
  .headerbar2 li span {
    position: relative;
    top: -5px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin: 0 auto;
  }
  .headerbar2 li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:first-child a {
    margin: 15px 15px;
  }
  .headerbar3 li:first-child span {
    position: relative;
    top: -5px;
    font-size: 15px;
    color: white;
  }
  .headerbar3 li:first-child:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:nth-child(2) {
    font-size: 15px;
    position: relative;
    top: 29px;
  }
  .headerbar3 li:nth-child(2) a {
    text-decoration: none;
    color: white;
  }
  .headerbar3 li:nth-child(2):hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:last-child {
    font-size: 15px;
    position: relative;
    top: 29px;
    color: white;
  }
  .headerbar3 li:last-child a {
    text-decoration: none;
    color: white;
  }
  .headerbar3 li:last-child:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .search ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search ul li:first-child {
    height: 100px;
    margin: 30px 5px;
  }
  .search ul li:first-child img {
    width: 180px;
  }
  .search ul li:first-child img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .search ul li:first-child img:first-child {
    display: none;
  }
  .search ul li:first-child img:last-child {
    display: block;
    width: 65px;
    height: 65px;
  }
  .search ul li:nth-child(2) input {
    width: 220px;
    height: 40px;
    margin: 40px 10px;
  }
  .search ul li:last-child button {
    width: 45px;
    height: 45px;
    margin: 40px 5px;
  }
  .search ul li:last-child button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: rgb(13, 118, 163);
    color: white;
    border: none;
  }
  .search ul li:last-child button:last-child {
    display: block;
  }
  .search ul li:last-child button:first-child {
    display: none;
  }
}
@media (max-width: 399px) {
  .headerbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(8, 101, 141);
    width: 100%;
  }
  .headerbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto;
  }
  .headerbar ul li {
    margin: 0px auto;
  }
  .headerbar ul li img {
    width: 40px;
    height: 40px;
  }
  .headerbar2 li:first-child {
    display: none;
  }
  .headerbar2 li {
    margin: auto auto;
  }
  .headerbar2 li span {
    position: relative;
    top: -10px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin: 0 auto;
  }
  .headerbar2 li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:first-child a {
    margin: 15px 15px;
  }
  .headerbar3 li:first-child span {
    position: relative;
    top: -10px;
    font-size: 15px;
    color: white;
  }
  .headerbar3 li:first-child:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:nth-child(2) {
    font-size: 15px;
    position: relative;
    top: 24px;
  }
  .headerbar3 li:nth-child(2) a {
    text-decoration: none;
    color: white;
  }
  .headerbar3 li:nth-child(2):hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .headerbar3 li:last-child {
    font-size: 15px;
    position: relative;
    top: 24px;
    color: white;
  }
  .headerbar3 li:last-child a {
    text-decoration: none;
    color: white;
  }
  .headerbar3 li:last-child:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .search ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search ul li:first-child {
    height: 100px;
    margin: 30px 5px;
  }
  .search ul li:first-child img {
    width: 180px;
  }
  .search ul li:first-child img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .search ul li:first-child img:first-child {
    display: none;
  }
  .search ul li:first-child img:last-child {
    display: block;
    width: 65px;
    height: 65px;
  }
  .search ul li:nth-child(2) input {
    width: 220px;
    height: 40px;
    margin: 40px 10px;
  }
  .search ul li:last-child button {
    width: 45px;
    height: 45px;
    margin: 40px 5px;
  }
  .search ul li:last-child button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: rgb(13, 118, 163);
    color: white;
    border: none;
  }
  .search ul li:last-child button:last-child {
    display: block;
  }
  .search ul li:last-child button:first-child {
    display: none;
  }
}
@media (max-width: 325px) {
  .search ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search ul li:first-child {
    height: 100px;
    margin: 30px 5px;
  }
  .search ul li:first-child img {
    width: 180px;
  }
  .search ul li:first-child img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .search ul li:first-child img:first-child {
    display: none;
  }
  .search ul li:first-child img:last-child {
    display: block;
    width: 65px;
    height: 65px;
  }
  .search ul li:nth-child(2) input {
    width: 160px;
    height: 40px;
    margin: 40px 10px;
  }
  .search ul li:last-child button {
    width: 45px;
    height: 45px;
    margin: 40px 5px;
  }
  .search ul li:last-child button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: rgb(13, 118, 163);
    color: white;
    border: none;
  }
  .search ul li:last-child button:last-child {
    display: block;
  }
  .search ul li:last-child button:first-child {
    display: none;
  }
}
.contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}
.contacts ul li:first-child iframe:last-child {
  display: none;
}
.contacts ul li:last-child {
  position: relative;
  top: 200px;
  left: 30px;
  height: 200px;
}

.menubar {
  position: sticky;
  top: 0;
}

@media (min-width: 530px) and (max-width: 650px) {
  .contacts ul {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: auto auto;
  }
  .contacts ul li:last-child {
    position: relative;
    top: 10px;
    left: 30px;
  }
}
@media (max-width: 529px) {
  .contacts ul {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: auto auto;
  }
  .contacts ul li:first-child iframe:last-child {
    display: block;
  }
  .contacts ul li:first-child iframe:first-child {
    display: none;
  }
  .contacts ul li:last-child {
    position: relative;
    top: 10px;
    left: 0;
  }
}
@media (max-width: 375px) {
  .contacts ul {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: auto auto;
  }
  .contacts ul li:first-child iframe:last-child {
    display: block;
  }
  .contacts ul li:first-child iframe:first-child {
    display: none;
  }
  .contacts ul li:last-child {
    position: relative;
    top: 10px;
    left: 0;
  }
}
.testform {
  margin: 20px 0 0 20px;
  padding: 20px;
  border: 3px solid rgb(237, 81, 14);
  border-radius: 18px;
  width: 400px;
}
.testform ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.testform ul li input {
  font-size: inherit;
  border: 3px solid rgb(237, 81, 14);
  border-radius: 8px;
  padding: 8px;
}
.testform ul li button {
  font-size: inherit;
  border: 3px solid rgb(237, 81, 14);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(237, 81, 14);
  color: white;
}

.registration {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

@media (max-width: 325px) {
  .testform {
    margin: 16px 0 0 16px;
    padding: 20px;
    border: 3px solid rgb(237, 81, 14);
    border-radius: 18px;
    width: 400px;
  }
  .testform ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .testform ul li input {
    font-size: inherit;
    border: 3px solid rgb(237, 81, 14);
    border-radius: 8px;
    padding: 8px;
  }
  .testform ul li button {
    font-size: inherit;
    border: 3px solid rgb(237, 81, 14);
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(237, 81, 14);
    color: white;
  }
}
.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 390px));
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 50px;
}
.card section {
  width: 350px;
  height: 300px;
  border: solid 2px black;
  border-radius: 12px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 3px 18px rgb(158, 158, 155);
          box-shadow: 3px 3px 18px rgb(158, 158, 155);
}
.card section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card section ul li {
  padding: 2px 0;
}
.card section ul li img {
  width: 165px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 3px;
  border-radius: 8px;
  border: solid 2px coral;
}
.card section ul:last-child {
  border: solid 2px coral;
  border-radius: 8px;
  display: block;
  font-size: 20px;
  margin: 0 2px;
}
.card section ul:last-child hr {
  width: 250px;
  color: coral;
}
.card section ul:last-child li:last-child {
  font-size: 25px;
  font-weight: 700;
}

@media (min-width: 780px) and (max-width: 880px) {
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
    padding: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 50px;
  }
  .card section {
    width: 300px;
    height: 250px;
    border: solid 2px black;
    border-radius: 12px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 3px 3px 18px rgb(158, 158, 155);
            box-shadow: 3px 3px 18px rgb(158, 158, 155);
  }
  .card section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card section ul li {
    padding: 2px 0;
  }
  .card section ul li img {
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 3px;
    border-radius: 8px;
    border: solid 2px coral;
  }
  .card section ul:last-child {
    border: solid 2px coral;
    border-radius: 8px;
    display: block;
    font-size: 14px;
    margin: 0 2px;
  }
  .card section ul:last-child hr {
    width: 250px;
    color: coral;
  }
  .card section ul:last-child li:last-child {
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 779px) {
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 290px));
    padding: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 50px;
  }
  .card section {
    width: 250px;
    height: 200px;
    border: solid 2px black;
    border-radius: 12px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 3px 3px 18px rgb(158, 158, 155);
            box-shadow: 3px 3px 18px rgb(158, 158, 155);
  }
  .card section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card section ul li {
    padding: 2px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card section ul li img {
    width: 116px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 2px;
    border-radius: 8px;
    border: solid 2px coral;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card section ul:last-child {
    border: solid 2px coral;
    border-radius: 8px;
    display: block;
    font-size: 12px;
    margin: 0 2px;
  }
  .card section ul:last-child hr {
    width: 150px;
  }
  .card section ul:last-child li:last-child {
    font-size: 14px;
    font-weight: 600;
  }
}
.menubar {
  position: sticky;
  top: 0;
  width: 100%;
}
.menubar ul {
  background-color: rgb(255, 96, 38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
.menubar ul li {
  margin: 0 auto;
}
.menubar ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.menubar ul li a {
  font-size: 25px;
  color: white;
  font-weight: 500;
  -webkit-animation: nev 8s infinite alternate;
          animation: nev 8s infinite alternate;
}
.menubar ul li a:last-child {
  display: none;
}

@-webkit-keyframes nev {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}

@keyframes nev {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}
@media (min-width: 300px) and (max-width: 530px) {
  .menubar {
    position: sticky;
    top: 0;
    width: 100%;
  }
  .menubar ul {
    background-color: rgb(255, 96, 38);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .menubar ul li {
    margin: auto auto;
  }
  .menubar ul li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .menubar ul li a {
    font-size: 25px;
    color: white;
    font-weight: 500;
  }
  .menubar ul li a:first-child {
    display: none;
  }
  .menubar ul li a:last-child {
    display: block;
  }
}
.card1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 390px));
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 50px;
}
.card1 section {
  width: 350px;
  height: 300px;
  border: solid 2px black;
  border-radius: 12px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 3px 18px rgb(158, 158, 155);
          box-shadow: 3px 3px 18px rgb(158, 158, 155);
}
.card1 section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card1 section ul li {
  padding: 2px 0;
}
.card1 section ul li img {
  width: 340px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 3px;
  border-radius: 8px;
  border: solid 2px coral;
}
.card1 section ul:last-child {
  border: solid 2px coral;
  border-radius: 8px;
  display: block;
  font-size: 20px;
  margin: 0 2px;
}
.card1 section ul:last-child hr {
  width: 250px;
  color: coral;
}
.card1 section ul:last-child li:last-child {
  font-size: 25px;
  font-weight: 700;
}

@media (min-width: 780px) and (max-width: 880px) {
  .card1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
    padding: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 50px;
  }
  .card1 section {
    width: 300px;
    height: 250px;
    border: solid 2px black;
    border-radius: 12px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 3px 3px 18px rgb(158, 158, 155);
            box-shadow: 3px 3px 18px rgb(158, 158, 155);
  }
  .card1 section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card1 section ul li {
    padding: 2px 0;
  }
  .card1 section ul li img {
    width: 290px;
    height: 190px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 3px;
    border-radius: 8px;
    border: solid 2px coral;
  }
  .card1 section ul:last-child {
    border: solid 2px coral;
    border-radius: 8px;
    display: block;
    font-size: 14px;
    margin: 0 2px;
  }
  .card1 section ul:last-child hr {
    width: 250px;
    color: coral;
  }
  .card1 section ul:last-child li:last-child {
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 779px) {
  .card1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 290px));
    padding: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 50px;
  }
  .card1 section {
    width: 250px;
    height: 200px;
    border: solid 2px black;
    border-radius: 12px;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 3px 3px 18px rgb(158, 158, 155);
            box-shadow: 3px 3px 18px rgb(158, 158, 155);
  }
  .card1 section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card1 section ul li {
    padding: 3px 0;
  }
  .card1 section ul li img {
    width: 240px;
    height: 135px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 2px;
    border-radius: 8px;
    border: solid 2px coral;
  }
  .card1 section ul:last-child {
    border: solid 2px coral;
    border-radius: 8px;
    display: block;
    font-size: 12px;
    margin: 0 2px;
  }
  .card1 section ul:last-child hr {
    width: 150px;
  }
  .card1 section ul:last-child li:last-child {
    font-size: 14px;
    font-weight: 600;
  }
}
.foot {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 20px;
  background-color: gray;
}
.foot ul {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 300px;
  border: solid 1px rgb(144, 143, 143);
  background-color: rgb(57, 53, 53);
  color: white;
  border-radius: 8px;
  margin: 5px 3px;
}
.foot ul li:first-child {
  text-align: center;
}
.foot .about_us hr {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.foot .about_us li:nth-child(2) {
  font-size: 18px;
  color: coral;
  text-align: center;
}
.foot .Maps li:last-child {
  text-align: center;
  padding: 20px 0;
}
.foot .Maps li:last-child:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.foot .Maps li:last-child img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.foot .Shop li {
  text-align: center;
}
.foot .Shop li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.foot .Shop li a {
  font-size: 25px;
  color: coral;
}
.foot .link {
  text-align: center;
}
.foot .link li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.foot .link li a {
  font-size: 25px;
  color: coral;
}